.shuiguoshucai{
  background: url('../img/fruit.jpg') center / cover;
  color: #fff;
}
.zhongyaocai{
  background: url('../img/zhongyaocai.jpg') center / cover;
  color: #fff;
}
.miaomuhuacao{
  background: url('../img/miaomuhuacao.jpg') center / cover;
  color: #fff;
}
.liangyoumimian{
  background: url('../img/liangyoumimian.jpg') center / cover;
  color: #fff;
}
.nongfujiagong{
  background: url('../img/nongfujiagong.jpg') center / cover;
  color: #fff;
}
.login{
  background: url('../img/login.jpg') center / cover;
  color: #fff;
}
.xumushuichan{
  background: url('../img/xumushuichan.jpg') center / cover;
  color: #fff;
}
.nongzinongji{
  background: url('../img/nongzinongji.jpg') center / cover;
  color: #fff;
}
